.main-wrapper {
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    height: 18.2rem;
    width: 18.2rem;
    border: 2px solid black;
    position: relative;
}

.center-point {
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.scale {
    width: 0.4rem;
    height: 16rem;
    background-color: black;
    position: absolute;
    top: 5.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform: rotate(-90deg);
}

.scale-1 {
    transform: rotate(-90deg);
}

.scale-2 {
    transform: rotate(-80deg);
}

.scale-3 {
    transform: rotate(-70deg);
}

.scale-4 {
    transform: rotate(-60deg);
}

.scale-5 {
    transform: rotate(-50deg);
}

.scale-6 {
    transform: rotate(-40deg);
}

.scale-7 {
    transform: rotate(-30deg);
}

.scale-8 {
    transform: rotate(-20deg);
}

.scale-9 {
    transform: rotate(-10deg);
}

.scale-10 {
    transform: rotate(0deg);
}

.scale-11 {
    transform: rotate(10deg);
}

.scale-12 {
    transform: rotate(20deg);
}

.scale-13 {
    transform: rotate(30deg);
}

.scale-14 {
    transform: rotate(40deg);
}

.scale-15 {
    transform: rotate(50deg);
}

.scale-16 {
    transform: rotate(60deg);
}

.scale-17 {
    transform: rotate(70deg);
}

.scale-18 {
    transform: rotate(80deg);
}

.scale-19 {
    transform: rotate(90deg);
}

.center-hide {
    height: 14rem;
    width: 14rem;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.bottom-hide {
    height: 8rem;
    width: 17.8rem;
    background-color: white;
    z-index: 11;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0);
}

.arrow-container{
    width: 10rem;
    height: 10rem;
    z-index: 12;
    position: absolute;
    top: 22.4%;
    left: 22.2%;
    transform: translate(-50%, -50%);
    transition: 1700ms all ease-in-out ;
   
    
}
.arrow-wrapper{
    width: 10px;
    height: 10px;
    background-color: transparent;
    position: relative;
    
}
.arrow{
    width: 6rem;
    height: 0.3rem;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 4.8rem;
    left: -1rem;
    border-radius: 50%;
    

}
.arrow-button{
    position: absolute;
    top: 12rem;
    left: 6rem;
    z-index: 20;
}