@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

*{
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
}

.container{
  width: 1024px;
  margin: auto;
}